@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root{
    --cor-verde: hsl(158, 36%, 37%);
    --cor-fundo: hsl(30, 38%, 92%);
    --cor-branca: hsl(0, 0%, 100%);
    --cor-very-dark-blue: hsl(212, 21%, 14%);
    --cor-dark-grayish-blue: hsl(228, 12%, 48%);
    --fonte-mont: 'MontSerrat', sans-serif;
    --fonte-fraunces: 'Fraunces', sans-serif;
}

body{
    max-width: 1440px;
    min-width: 375px;
    display:flex;
    background-color: var(--cor-fundo);
    font-size: 14px;
    font-family: var(--fonte-mont);
}

.tudo{
    display: flex;
    width: 570px;
    height: 430px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 1 10 hsl(212, 21%, 14%);
    font-family: var(--fonte-mont);
    color: var(--cor-dark-grayish-blue);
}
#imagem{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 275px;
    height: 100%;
}

.parte-direita{
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction:column;
    gap: 20px;
    background-color: var(--cor-branca);
    width: 100%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
.titulo{
    position: relative;
    display: flex;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: smaller;
    padding-top: 10px;
}
.marca{
    display: flex;
    position: relative;
    font-family: var(--fonte-fraunces);
    color: var(--cor-very-dark-blue);
    font-weight: 700;
    font-size: xx-large;
    line-height: 1;
    padding-right: 10px;
}
.marca-paragrafo{
    display: flex;
    position: relative;
    padding-right: 10px;
    color: var(--cor);
    line-height: 1.5;
    bottom: 10px;
}
.precos{
    display: flex;
    position: relative;
    gap: 20px;
    align-items: center;
    color: var(--cor-verde);
    bottom: 20px;
}
.preco-desconto{
    font-family: var(--fonte-fraunces);
    font-size: xx-large;
}
.preco-real{
    text-decoration: line-through;
    font-size: small;
}
.add{
    background-color: var(--cor-verde);
    color: var(--cor-branca);
    width: 100%;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    gap: 10px;
    bottom: 10px;
}

@media(max-width: 375px){
    body{
        max-width: 375px;
        display: flex;
        flex-direction: column;
    }
    .tudo{
        display: flex;
        flex-direction: column;
        width: 290px;
        height: 812px;
        justify-content: center;
        align-items: center;
        padding-right: 20px;
        padding-left: 20px;
        margin-top: 150px;
    }

    #imagem{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border-bottom-left-radius: 0;
        width: 350px;
        border-top-right-radius: 11px;
        border-top-left-radius: 11px;
        object-position: right 1px bottom 125px;
        filter: brightness(0.90);
    }
    .parte-direita{
        display: flex;
        position: relative;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        align-items: left;
        text-align: left;
        bottom: 247px;
    }

    .titulo{
        top: 15px;
        font-size: small;
        
    }
    .marca{
        top: 5px;
    }
    .marca-paragrafo{
        bottom: 10px;
        width: 292px;
    }
    .precos{
        bottom: 20px;
    }
    .add{
        bottom: 25px;
    }



    .attribution{
        display: none;
    }
}
